python-telegram-bot==20.7
python-dotenv==0.19.0
aiofiles==23.2.1 # Возвращаем, нужен для асинхронной работы с файлами
pytz==2024.1
APScheduler==3.10.4
requests==2.31.0
asyncpg # Добавляем асинхронный адаптер

fastapi==0.111.0 # Используем актуальную версию
uvicorn[standard]==0.29.0 # Используем актуальную версию 